
body{
    background-image: url(./background_image.jpg);
    background-repeat: no-repeat;
}
h1{text-align: center;
color: azure;
font-family: 'Roboto', sans-serif;


}
span{
    color: red;
}
p{
    color: azure;
    font-size: 30px;
    text-align: center;
    
}



div.tablo{
    margin-left: auto;
    margin-right: auto;
    
    width: 40%;
    height: auto;
    color: azure;
    background-color: rgba(0, 0, 0, 0.8);
   
}
input{
    width: 60%;
    margin-left: 5%;
    margin-bottom: 7px;
}
label{
    margin-left: 5%;
    margin-bottom: 8px;
}
option{
    margin-left: 5%;
}



            

.input .submit{
    border-style: ;
    border-radius: 4px;
}