.box{
    width: 20vw;
    height: 20vh;
}

.box1{
    background-color: rgb(128, 255, 212,0.8);
    position: relative;
    left: 2rem;
    top:3rem;
    z-index: 6;
}
.box2{
    background-color: rgb(255, 170, 127, 0.9);
    position: absolute;
    left: 2rem;
    top:3rem;
    z-index: 5;
}
.box3{
    background-color: rgb(173, 169, 188);
    position: relative;
    left: 3rem;
    top:0rem;
    z-index: 10;
    text-align: right;
}
.box4{
    background-color: rgb(168, 88, 134);
    position: absolute;
    top: 2rem;
    left: 1rem;

}
.absolute-parent{
    border: 5px solid red;
    width: 25vw;
    height: 25vh;
    position: absolute;
    right: 0;
    top: 1rem;
}

.box5{
    position: fixed;
    background-color: rgb(0, 139, 139, 0.6);
    right: 3rem;
    bottom: 15rem;
}

.box6{
    background-color: yellow;
    position: sticky;
    top:1rem;
    margin: 0 auto;

}