body{
    text-align: center;
    color: aliceblue;
}


.bg{
    height: 20rem;
    background-image: url('https://picsum.photos/200');
    /* background-repeat: no-repeat; */
    background-size: cover;
   
    background-position: center center;
}

.buton span{
    display: inline-block;
    background-color: gray;
    width: 4rem;
    height: 1rem;
    margin: 1rem;

}

span:hover{
    background-color: lightgray;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
